<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mmho.photomap2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="PhotoMap.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="net.mmho.photomap2.HashedPhoto" />

        <activity
            android:name="net.mmho.photomap2.PhotoListActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.mmho.photomap2.PhotoMapActivity"
            android:launchMode="singleTop"
            android:parentActivityName="net.mmho.photomap2.PhotoListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="geo" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/jpg" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".PhotoMapActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PhotoListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="net.mmho.photomap2.ThumbnailActivity"
            android:parentActivityName="net.mmho.photomap2.PhotoListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PhotoListActivity" />
        </activity>
        <activity
            android:name="net.mmho.photomap2.PhotoViewActivity"
            android:parentActivityName="net.mmho.photomap2.PhotoListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PhotoListActivity" />
        </activity>

        <service android:name=".UpdateDBService" android:enabled="true"/>

        <provider
            android:name="net.mmho.photomap2.MapSuggestionProvider"
            android:authorities="net.mmho.MapSuggestionProvider" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>
